<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This page was created by MegaTryf. That is the weather falks</p>
            <img class="portrait" src="/img/robot.png" >
        </div>
       
        {{>footer}}
       
    </body>
</html>