

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <title>Help</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>help message: {{message}}</p>
        </div>

        {{>footer}}
    </body>
</html>

<!-- to render a partial to all my html files i can use "{{>header}}"-->